In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
uber_df = pd.read_csv('Data/uber-raw-data-sep14.csv')

uber_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1028136 entries, 0 to 1028135
Data columns (total 4 columns):
 #   Column     Non-Null Count    Dtype
---  ------     --------------    -----
 0   Date/Time  1028136 non-null  object
 1   Lat        1028136 non-null  float64
 2   Lon        1028136 non-null  float64
 3   Base       1028136 non-null  object
dtypes: float64(2), object(2)
memory usage: 31.4+ MB

In [3]:
uber_df.describe()

                Lat           Lon
count  1.028136e+06  1.028136e+06
mean   4.073922e+01 -7.397182e+01
std    4.082861e-02  5.831413e-02
min    3.998970e+01 -7.477360e+01
25%    4.072040e+01 -7.399620e+01
50%    4.074180e+01 -7.398310e+01
75%    4.076120e+01 -7.396280e+01
max    4.134760e+01 -7.271630e+01

In [4]:
uber_df.head()

          Date/Time      Lat      Lon    Base
0  9/1/2014 0:01:00  40.2201 -74.0021  B02512
1  9/1/2014 0:01:00  40.7500 -74.0027  B02512
2  9/1/2014 0:03:00  40.7559 -73.9864  B02512
3  9/1/2014 0:06:00  40.7450 -73.9889  B02512
4  9/1/2014 0:11:00  40.8145 -73.9444  B02512

In [5]:
pd.to_datetime(uber_df['Date/Time'])

0         2014-09-01 00:01:00
1         2014-09-01 00:01:00
2         2014-09-01 00:03:00
3         2014-09-01 00:06:00
4         2014-09-01 00:11:00
                  ...
1028131   2014-09-30 22:57:00
1028132   2014-09-30 22:57:00
1028133   2014-09-30 22:58:00
1028134   2014-09-30 22:58:00
1028135   2014-09-30 22:58:00
Name: Date/Time, Length: 1028136, dtype: datetime64[ns]

In [36]:
uber_df['Date/Time'] = pd.to_datetime(uber_df['Date/Time'])
uber_df.info()

KeyError: 'Date/Time'

In [7]:
uber_df.index = uber_df['Date/Time']
uber_df.head()

                              Date/Time      Lat      Lon    Base
Date/Time
2014-09-01 00:01:00 2014-09-01 00:01:00  40.2201 -74.0021  B02512
2014-09-01 00:01:00 2014-09-01 00:01:00  40.7500 -74.0027  B02512
2014-09-01 00:03:00 2014-09-01 00:03:00  40.7559 -73.9864  B02512
2014-09-01 00:06:00 2014-09-01 00:06:00  40.7450 -73.9889  B02512
2014-09-01 00:11:00 2014-09-01 00:11:00  40.8145 -73.9444  B02512

In [8]:
uber_df = uber_df.drop(['Date/Time'],axis=1)
uber_df.head()

                         Lat      Lon    Base
Date/Time
2014-09-01 00:01:00  40.2201 -74.0021  B02512
2014-09-01 00:01:00  40.7500 -74.0027  B02512
2014-09-01 00:03:00  40.7559 -73.9864  B02512
2014-09-01 00:06:00  40.7450 -73.9889  B02512
2014-09-01 00:11:00  40.8145 -73.9444  B02512

In [9]:
uber_df.iloc[2]

Lat     40.7559
Lon    -73.9864
Base     B02512
Name: 2014-09-01 00:03:00, dtype: object

In [10]:
uber_df.loc['2014-09-01 00:03:00']

                         Lat      Lon    Base
Date/Time
2014-09-01 00:03:00  40.7559 -73.9864  B02512
2014-09-01 00:03:00  40.7170 -74.0110  B02598
2014-09-01 00:03:00  40.7582 -73.9857  B02617
2014-09-01 00:03:00  40.7110 -73.9356  B02617
2014-09-01 00:03:00  40.7538 -73.9772  B02617
2014-09-01 00:03:00  40.7321 -74.0026  B02682
2014-09-01 00:03:00  40.7178 -73.9499  B02764
2014-09-01 00:03:00  40.6906 -73.9106  B02764
2014-09-01 00:03:00  40.6192 -74.0281  B02764
2014-09-01 00:03:00  40.6965 -73.8965  B02764

In [11]:
uber_df.loc['2014-09-01 00:03:00'].Lat.mean()

np.float64(40.71521)

In [12]:
uber_df.min()

Lat     39.9897
Lon    -74.7736
Base     B02512
dtype: object

In [13]:
uber_df.value_counts('Base').max().tolist()

377695

In [14]:
max_base = uber_df.value_counts('Base').max()
maxmaxbase = uber_df['Base'].value_counts() == max_base
maxmaxbase
#uber_df[maxmaxbase]

Base
B02617     True
B02598    False
B02682    False
B02764    False
B02512    False
Name: count, dtype: bool

In [20]:
uber_df[uber_df['Base'] == 'B02617']

                         Lat      Lon    Base
Date/Time
2014-09-01 00:00:00  40.7107 -73.9666  B02617
2014-09-01 00:00:00  40.7255 -73.9923  B02617
2014-09-01 00:01:00  40.7149 -73.9997  B02617
2014-09-01 00:01:00  40.6449 -73.7819  B02617
2014-09-01 00:01:00  40.7287 -74.0002  B02617
...                      ...      ...     ...
2014-09-30 22:59:00  40.7794 -73.9555  B02617
2014-09-30 22:59:00  40.7410 -74.0018  B02617
2014-09-30 22:59:00  40.6988 -73.9174  B02617
2014-09-30 22:59:00  40.7505 -74.0030  B02617
2014-09-30 22:59:00  40.7424 -73.9827  B02617

[377695 rows x 3 columns]

In [23]:
uber_df.value_counts('Date/Time').mean()

np.float64(23.96196424825786)

In [31]:
uber_df['Lat'].var()

np.float64(0.0016669750363058635)

In [30]:
uber_df['Lon'].var()

np.float64(0.003400537682964583)

^^ That means that Lon is more spread out than Lat right?

In [32]:
uber_df.reset_index()

                  Date/Time      Lat      Lon    Base
0       2014-09-01 00:01:00  40.2201 -74.0021  B02512
1       2014-09-01 00:01:00  40.7500 -74.0027  B02512
2       2014-09-01 00:03:00  40.7559 -73.9864  B02512
3       2014-09-01 00:06:00  40.7450 -73.9889  B02512
4       2014-09-01 00:11:00  40.8145 -73.9444  B02512
...                     ...      ...      ...     ...
1028131 2014-09-30 22:57:00  40.7668 -73.9845  B02764
1028132 2014-09-30 22:57:00  40.6911 -74.1773  B02764
1028133 2014-09-30 22:58:00  40.8519 -73.9319  B02764
1028134 2014-09-30 22:58:00  40.7081 -74.0066  B02764
1028135 2014-09-30 22:58:00  40.7140 -73.9496  B02764

[1028136 rows x 4 columns]

In [35]:
uber_df['Day'] = uber_df["Date/Time"].apply(lambda x: x.day)

KeyError: 'Date/Time'